*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    color: white;
    margin: 10px;
}

.menu a{
    color: white;
    margin: 10px;
    text-decoration: none;

}